<body>

  <div class="container">
    <h1 class="h1">Teachers Details</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">age</th>
          <th scope="col">class</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>

        {{#each data}}
        <tr>
          <th scope="row">{{this.id}}</th>
          <td><a href="/teacher-students/{{this.id}}">{{this.firstName}}</a></td>
          <td>{{this.lastName}}</td>
          <td>{{this.email}}</td>
          <td>{{this.age}}</td>
          <td>{{this.class}}</td>
          <td><a href="/edit-teacher/{{this.id}}">Edit</a></td>
        </tr>


        {{/each }}
      </tbody>
    </table>

    <a href="/add-teachers" class=" btn btn-primary btn-lg">Add Teacher</a>

  </div>